<%= render_course_subnav( 'courses') %>

<div class="container-fluid user_courses_container">
  <div class="row-fluid">
    <div class="span12">
      <h3>In Progress</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-hover">
        <tbody>
          <% 
          if @course_histories.empty? 
            %>
              <tr><td>No courses are in progress at this time.</td></tr> 
            <%
          end
          @course_histories.each do |course_history| 
            course = course_history.course
            %>  
            <tr>
              <td>
                <div class="title"><%= link_to course.name, start_course_path(course) %></div>
                <div class="Author">by <%= course.user_name %>
                  <% if current_user.present? && current_user.id != course.user_id %>
      				<% if !current_user.following?(course.user) %>
      					<%= link_to "Follow", follow_relationship_path( :followed_id => course.user_id ), :class => "btn btn-small btn-primary" %>
      				<% else %>
      					<%= link_to "UnFollow", unfollow_relationship_path( :followed_id => course.user_id ), :class => "btn btn-small btn-primary" %>
      				<% end %>
      			  <% end %>
      			</div>
                <div class="description"><%= truncate course.description.html_safe, :length => 300 %></div>
                <span class="status"><%= course_history.status %></span> - <span class="created_at"><%= course.created_at.to_formatted_s(:long) %></span>
                <%= ratings_for course, :static %>
                  
                <span class="status">
                  <%
                  if course_history.status == "in_progress"
                  %>
                    <span class="label label-warning">In Progress</span>
                  <% else %>
                    <span class="label label-success">Complete</span>
                  <% end %>
                </span>
                <span class="created_at">
                  <%= course.created_at.to_formatted_s(:long) %>
                </span>

              </td>
              <td nowrap>
                <%= link_to course_history.status == "completed"?'Review Course':'Resume Course', start_course_path(course) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3>Bookmarked Courses</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-hover">
        <tbody>
          <% 
          if @bookmarks.empty? 
            %>
              <tr><td>No courses have been bookmarked yet.</td></tr> 
            <%
          end
          @bookmarks.each do |bookmark| 
            course = bookmark.course %>
            <tr>
              <td>
                <div class="title"><%= link_to course.name, course_path(course) %></div>
                <div class="Author">by <%= course.user_name %>
                <% if current_user.present? && current_user.id != course.user_id %>
      				<% if !current_user.following?(course.user) %>
      					<%= link_to "Follow", follow_relationship_path( :followed_id => course.user_id ), :class => "btn btn-small btn-primary" %>
      				<% else %>
      					<%= link_to "UnFollow", unfollow_relationship_path( :followed_id => course.user_id ), :class => "btn btn-small btn-primary" %>
      				<% end %>
      			<% end %>
      			</div>
                <div class="description"><%= truncate course.description.html_safe, :length => 300 %></div>
                <%= ratings_for course, :static %>
              </td>
              <td nowrap>
                <%= link_to "Remove Bookmark", course_path(course)+"/bookmark?remove=true" %><br/>
                <%= link_to "Start", start_course_path(course), :class => "btn btn-success" %>
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
  </div>
</div>

