<!DOCTYPE html>
<html>
<head>
  <title>Social University</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="headers">
    <%= render 'layouts/header' %>
    <%= yield :sub_menu%>
  </div>
  <div class="container main">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
 </body>
</html>
